---
const {text, href, newTab} = Astro.props;
---

<div class="announcement-banner__container">
  <p>
    {newTab ?
      <a class="flash_color" href={href} target="_blank" rel="noopener noreferrer">
        {text}
      </a> :
      <a href={href}>
        {text}
      </a>}
  </p>
</div>

<style>
  .announcement-banner__container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centers content vertically */
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
    position: relative;
    z-index: 100;
    height: 100vh; /* full viewport height */
  }
  .announcement-banner__container p {
    margin: 0 auto;
    text-align: center;
  }
  .flash_color{
    color: red;
  }
</style>
