---
import { Container, ThreeColumnTextSection } from '@components/odyssey-theme';

---



<Container>

<ThreeColumnTextSection>
	<div slot="column-1-body">
		<h2>Χρόνια εμπειρίας</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
	<div slot="column-2-body">
		<h2>Success stories</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
	<div slot="column-3-body">
		<h2>???</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
</ThreeColumnTextSection>

</Container>