---
import { Container, Button, Four_ColumnTextSection } from '@components/odyssey-theme';

---
<Container>

<Four_ColumnTextSection>
	<div slot="column-1-body">
		<h3>Website</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
	<div slot="column-2-body">
		<h3>Eshop</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
	<div slot="column-3-body">
		<h3>Web App</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
	<div slot="column-4-body">
		<h3>Marketing</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
			tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
			consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
			mollitia cumque. Velit.
		</p>
	</div>
</Four_ColumnTextSection>
</Container>