html,
body {
	height: 100%;
}

body {
	max-width: 100%;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}
.two_buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}