html,
body {
	height: 100%;
}

body {
	max-width: 100%;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}
.two_buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}


.form-field__container label:has(~ input[required]),
.form-field__container label:has(~ select[required]),
.form-field__container label:has(~ textarea[required]) {
	position: relative;
}

.form-field__container label:has(~ input[required]):after,
.form-field__container label:has(+ select[required]):after,
.form-field__container label:has(~ textarea[required]):after {
	content: " *";
	color: red;
	font-size: 15px;
	position: relative;
	top: -5px;
}

.consent-container:has(input[required]) label:after {
	content: " *";
	color: red;
	font-size: 15px;
	position: relative;
	top: -5px;
}
