:root {
	/* Theme Colors */
	--theme-primary: #000;
	--theme-primary-hover: #333;
	--theme-on-primary: #fff;

	--theme-bg: #fff;
	--theme-on-bg: #000;

	--theme-surface-1: #f2f2f2;
	--theme-on-surface-1: #000;

	--theme-surface-2: #cce6d0;
	--theme-on-surface-2: #000;

	/* Buttons */
	--button_color: #024C73;
	--button_color_hover: #1C1C1C;


	/* Theme Shapes */
	/* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
	--theme-shape-radius: clamp(0rem, 0rem, 0rem);
	--theme-button-border-radius: 0.2rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 3rem;
	--theme-grid-gap: 1rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 1rem;

	--theme-blog-post-header-width: 1200px;

	/* Theme Fonts */
	/*--theme-font-family-serif: 'Roboto', Georgia, Cambria, 'Times New Roman', Times, serif;*/
	--theme-font-family-serif: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
	--theme-font-family-sans: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}
