---
import { Button } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';
import { Icon } from 'astro-icon/components';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h2>Κατασκευή Ιστοσελίδων</h2>
			<p>Δώστε στην επιχείρησή σας τη διαδικτυακή παρουσία που της αξίζει!</p>
			<p>Φέρτε την επιχείρησή σας online με έναν επαγγελματικό ιστότοπο. Ο ιστότοπός σας είναι το κέντρο της ψηφιακής
				σας παρουσίας.</p>
			<ul>
				<li>
					Τελευταίες Τεχνολογίες Σχεδίασης: Σύγχρονη αισθητική και λειτουργικότητα.
				</li>
				<li>
					SEO-Φιλικός Σχεδιασμός: Οι πελάτες σας θα σας βρίσκουν εύκολα στις μηχανές αναζήτησης.
				</li>
			</ul>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon>Get Started<Fragment slot="icon"><Icon name="ic:baseline-chevron-right" /></Fragment></Button>
		</div>
		<picture slot="image-container">
			<img src="/assets/images/landing-1/landing-hero-1.jpg" alt="Astro Odyssee" id="home-hero-image" />
		</picture>
	</TextAndImageHero>

	<TextAndImageHero>
		<div slot="text-container">
			<h2>Κατασκευή e-Shop</h2>
			<p>Ανεβάστε την επιχείρησή σας στο επόμενο επίπεδο με ένα e-Shop!</p>
			<p>Με ένα ηλεκτρονικό κατάστημα οι πελάτες σας μπορούν να αγοράζουν προϊόντα ή υπηρεσίες οποιαδήποτε στιγμή, 24/7.
				Είναι άνετο για τους πελάτες.</p>
			<ul>
				<li>
					Σύνδεση με ERP (αν διαθέτετε)
				</li>
				<li>
					Υποστήριξη ηλεκτρονικών πληρωμών
				</li>
			</ul>
		</div>
		<picture slot="image-container">
			<img src="/assets/images/landing-1/landing-hero-1.jpg" alt="Astro Odyssee" id="home-hero-image" />
		</picture>
	</TextAndImageHero>

</Layout>
