---
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Κατασκευή eShop B2C, Β2Β',
	description: 'Κατασκευή eShop B2C, Β2Β. Προσαρμοσμένο στις ανάγκες σας',
};
---

<Layout seo={seo}>
	<Container>
		<div class="canva_wraper">
			<canvas id="network"></canvas>
		</div>
	</Container>
</Layout>

<script>
	import { NetworkAnimation } from '../utils/NetworkAnimation';
	const canvas1 = document.getElementById('network') as HTMLCanvasElement;
	if (canvas1) {
		new NetworkAnimation(canvas1);
	}
</script>

<style>
    .canva_wraper {
        height: 500px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    canvas {
        //background: #0b1320;
        display: block;
        width: 100%;
        height: 100%;
    }
</style>