---
import { SkipLink } from '@components/odyssey-theme';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<style is:global>
        /* Kill ALL white flashes BEFORE Astro renders */
        html, body {
            background: #000 !important;
            color: #fff !important;
            margin: 0;
            padding: 0;
            min-height: 100vh;
        }
		</style>
		<BaseHead {...seo} />
	</head>
	<body style="background: red;">
		<SkipLink />
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
