---
import { Button, FormInput, FormSelect, FormTextarea, Form_Input_checkbox } from '@components/odyssey-theme';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
];
---

<form method="POST" action="/api/contact" enctype="application/x-www-form-urlencoded">
  <FormInput type="text" label="Όνομα" name="Name" placeholder="" required />

  <FormInput type="email" label="Email" name="Email" placeholder="" required />

  <FormSelect label="How Did You Hear About Us?" name="Source" options={selectOptions} required />

  <FormTextarea label="Το μήνυμα σας" name="Message" placeholder="" required />

  <Form_Input_checkbox label="Συμφωνώ να αποθηκευτούν τα στοιχεία μου ώστε να επικοινωνήσει μαζί μου η phpixel.gr" name="policy" placeholder="" required />

  <Button type="submit" big_button >MAIL US</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

</style>
