---
import { Button, FormInput, FormSelect, FormTextarea, Form_Input_checkbox } from '@components/odyssey-theme';
---

<form method="POST" action="/api/contact" enctype="application/x-www-form-urlencoded">
  <FormInput type="text" label="Όνομα" name="Name" placeholder="" required />

  <FormInput type="email" label="Email" name="Email" placeholder="" required />

  <FormInput type="tel" label="Τηλέφωνο (προαιρετικό)" name="Phone" placeholder="" />

  <FormTextarea label="Πες μας λίγα λόγια για το project σου" name="Message" placeholder="" required />

  <Form_Input_checkbox label="Συμφωνώ να αποθηκευτούν τα στοιχεία μου ώστε να επικοινωνήσει μαζί μου η phpixel." name="policy" placeholder="" required />

  <Button type="submit" big_button>Στείλε το μήνυμα</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
