---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
];
---

<form method="POST" action="/api/contact" enctype="application/x-www-form-urlencoded">
  <FormInput
    type="text"
    label="Name"
    name="Name"
    placeholder="John Doe"
    required
  />

  <FormInput
    type="email"
    label="Email"
    name="Email"
    placeholder="hello@example.com"
    required
  />

  <FormSelect
    label="How Did You Hear About Us?"
    name="Source"
    options={selectOptions}
    required
  />

  <FormTextarea
    label="Message"
    name="Message"
    placeholder="Your message here..."
    required
  />

  <Button type="submit">Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
